<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="hero-row">
      <ion-col size="10" size-md="7" class="glass-card">
        <div class="hero-text">
          <p class="headline">Help Millions of<br>People everywhere,<br>every time.</p>
        </div>
      </ion-col>

      <ion-col size="12" class="button-col">
        <ion-button class="custom-border" fill="outline" color="danger" (click)="navigateToOtherPage()">Login</ion-button>
        <ion-button class="custom-border" fill="outline" color="danger" (click)="onSignup()">Signup</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
